/*
The base stylesheet for Lotas-webapplication
*/
/* 
    Created on : 14.2.2016, 13:14:11
    Author     : Sami Kallio
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(smartphones/base.css);
@import url(tablets/base.css);

html {
    width: 100%;
    height: 100%;
}

body {
    width: 96%;
    margin: 5% auto 0 auto;
    font-size: 100%;
    color: #ffffff;
    background-color: #131D24;
    background-image: repeating-linear-gradient(
        45deg,
        #080b0d,
        #080b0d 20px,
        #0a0f13 20px,
        #0a0f13 40px);
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

nav {
    float: left;
    width: 24%;
    border: 1px solid #ffffff;
    margin-right: 0.5em;
}

.welcomeContent {
    float: right;
    width: 74%;
    display: block;
}
.naviHeader {
    width: 96%;
    float: right;
    height: 10px;
    background-size: 50%;
    background-color: #567;
    align-content: flex-end;
    
}
.naviButtons {
    width: 2.5em;
    height: 0.3em;
    display:table-row;
    border: 3px solid blanchedalmond;
    text-align: center;
    padding: 1.0em;
}
.accessButtons {
    width: 9.5em;
    height: 2.5em;
    margin: 2.5% auto 2.5% auto;
    display: block;
    border: 2px solid blanchedalmond;
    text-align: center;
    padding: 1.0em;
}
.naviFooter {
    width: 96%;
    float: right;
    height: 10px;
    background-size: 50%;
    background-color: #567;
    align-content: flex-end;
    
}

a:link {text-decoration: none; color: lightcyan;}
a:visited {text-decoration: none; color: lightcyan;}
a:active {text-decoration: none; color: lightcyan;}
a:hover {text-decoration: none; color: lightsalmon;}


@media screen and (max-width: 800px) {
    
    nav {
        width: 96%;
        margin: 1% auto 1% auto;
        border: none;
    }
    
    .welcomeContent {
        width: 96%;
        margin: 1% auto 1% auto;
    }
    .naviHeader {
    width: 96%;
    float: right;    
    height: 10px;
    background-size: 50%;
    background-color: #567;   
    }
    .naviButtons {
    width: 2.5em;
    height: 0.3em;
    display: table-row;
    border: 3px solid blanchedalmond;
    text-align: center;
    padding: 1.0em;
    }
    .accessButtons {
    width: 9.5em;
    height: 2.5em;
    margin: 2.5% auto 2.5% auto;
    display: block;
    border: 2px solid blanchedalmond;
    text-align: center;
    padding: 1.0em;
    }
   .naviFooter {
    width: 96%;
    float: right;    
    height: 10px;
    background-size: 50%;
    background-color: #567; 

   }
}
