/*
The base stylesheet for Lotas-webapplication
*/
/*
    Created on : 24.2.2016, 11:55:11
    Author     : Jarmo Juujärvi (based on base.css by Sami kallio)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
/*@import url(smartphones/basev2.css);*/
/*@import url(tablets/basev2.css);*/

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #ffffff;
    background-color: #131D24;
    background-image: repeating-linear-gradient(
        45deg,
        #080b0d,
        #080b0d 20px,
        #0a0f13 20px,
        #0a0f13 40px);
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

/* Use same font family on widgets for consistency
    (excluding .fa elements) */
.ui-widget:not(.fa) {
    font-family: 'Roboto', sans-serif;
}

/* Sticky footer based on this:
   http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}
.push {
    height: 30px;
}
#Footer {
    height: 30px;
    font-size: 16px;
    background-color: #ff6600;
    clear: both;
}


nav {
    float: left;
    width: 24%;
    height: 40%;
    border: none;
    margin-right: 0.5em;
    padding-bottom: 1.5em;
    padding-right: 0.5em;
}

.welcomeContent {
    float: right;
    width: 70%;
    display: block;
    padding: 0.5em;
}

.textContentArea {
    width: 70%;
    margin: 1% auto 1% auto;
    display: block;
    padding: 2.5em;
}

.naviHeader {
    height: 28px;
    background: #ff6600;
    background: #ff6600 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #ff6600 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #ff6600 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background-size: 100%;
    text-align: center;
    border: 0;
    border-radius: 0;
    color: white!important;
}

#naviHead .ui-icon.fa {
    border-radius: 0;
    width: auto;
    height: auto;
    padding: 0 0.8em;
    font-size: 120%;
}

.naviHeader > ul {
    float: right;
}

.ui-menubar > .ui-menuitem-link {
    width: auto;
    padding: 0.3em 0.9em;
}

.ui-menu .ui-menu-parent .ui-icon-triangle-1-s {
    display: none;
}

.ui-menu .ui-menu-parent .ui-icon-triangle-1-e {
    display: none;
}

ul.ui-menu-child {
    white-space: nowrap;
    width: 260px!important;
}

.naviButtons {
    display:table-cell;
    text-align: center;
    float: right;
}

.accessButtons {

    width: 9.5em;
    height: 2.0em;
    margin: auto auto auto auto;
    /*    display: block;*/
    text-align: center;
    padding: 1.0em;
}

.coloredButton {
    background: #ff6600;
    color: white!important;
    font-size: 100%!important;
    text-shadow: none;
}

/* Naviheader styles menu */
.naviHeader.ui-menu, .naviHeader.ui-menu .ui-menu-child{
    background:#ff6600 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background:#ff6600 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background:#ff6600 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    color: white!important;
}

.naviHeader .ui-state-hover, .naviHeader .ui-widget-content .ui-state-hover, .naviHeader .ui-widget-header .ui-state-hover, .naviHeader .ui-state-focus, .naviHeader .ui-widget-content .ui-state-focus, .naviHeader .ui-widget-header .ui-state-focus{
    border:1px solid #ff6600;
    background:#ff6600 linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0));
    background:#ff6600 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0)));
    background:#ff6600 -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0));
    font-weight:normal;
    color:black;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.naviHeader .ui-widget-content {
    border: none;
}

#naviHead .naviHeader.ui-menu-parent > .ui-menu-list .ui-menuitem-link {
    width: 95%;
}

#naviHead .ui-menuitem,
#naviHead .ui-menuitem-link {
    margin: 0;
}

.naviHeader > .ui-menu-list {
    margin-top: -0.2em;
}

.naviFooter {
    width: 100%;
    float: right;
    height: 20px;
    background-size: 50%;
    background-color: #ff6600;
    align-content: flex-end;
    text-align: center;
    color: white !important;

}

.facetLeft {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.5em;
}

a:link {text-decoration: none; color: white;}
a:visited {text-decoration: none; color: white;}
a:active {text-decoration: none; color: white;}
a:hover {text-decoration: none; color: white;}


.ui-dialog-content {
    overflow-y: auto;
    max-height: calc(100vh - 65px);
    max-width: 24em;
}

.ui-dialog-content > form input {
    margin-bottom: .3em;
}

.ui-dialog-content .ui-state-error {
    border-width: 2px;
}

.ui-dialog-content > form .form-button {
    display: inline-block;
    width: auto;
    float: right;
    margin-top: .6em;
}

.ui-dialog-content > form .remove-button {
    margin: 0px 0px 0.3em;
    color: black;
    background: rgb(245, 0, 0) none repeat scroll 0% 0%;
    border: 2px dashed rgb(51, 51, 51);
    text-shadow: none;
    outline: medium none;
    margin-bottom: .3em;
    font-size: 0.85em;
    font-weight: normal;
    box-shadow: none;
}

.ui-dialog-content > form .remove-button:hover {
    color: white;
}

.ui-dialog-footer {
    background: transparent none repeat scroll 0% 0%;
    border: medium none;
    float: right;
}

.ui-confirmdialog-no {
    float: right;
}

.ui-growl .ui-growl-icon-close {
    display: block !important;
    background-color: white;
    opacity: 0.7;
    background-position: -96px -128px;
    -webkit-box-shadow: 2px 2px 1px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 1px -1px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 1px -1px rgba(0,0,0,0.6);
    border-radius: 5px;
    border: 5px solid;
}

.ui-growl .ui-growl-icon-close:hover {
    opacity: 1;
}

@media screen and (max-width: 800px) {

    nav {
        padding-top: 0.5em;
        width: 96%;
        margin: 1% auto 1% auto;
        border: none;
        padding-bottom: 0.5em;

    }

    .welcomeContent {
        width: 96%;
        margin: 1% auto 1% auto;
        padding: 0.5em;
    }

    .textContentArea {
        width: 70%;
        margin: auto auto auto auto;
        display: block;
        padding: 2.5em;
    }

    .naviHeader {
        height: 28px;
        background-color: #ff6600;
        background-size: 100%;
        text-align: center;
        color: white !important;
    }

    .naviButtons {
        width: 50px;
        height: 10px;
        display:table-cell;
        text-align: center;
        float: right;
    }

    .accessButtons {
        width: 9.5em;
        height: 2.0em;
        /*        margin: 2.5% auto 2.5% auto;*/
        display:table;
        text-align: center;
        padding: 1.0em;
        color: white;
    }

    .coloredButton {
        background: #ff6600;
    }

    .naviFooter {
        width: 100%;
        float: right;
        height: 20px;
        background-size: 50%;
        background-color: #ff6600;
        text-align: center;
        color: white !important;
    }

}
