/*
The base stylesheet for Lotas-webapplication
*/
/* 
    Created on : 14.2.2016, 13:14:11
    Author     : Sami Kallio
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    width: 100%;
    height: 100%;
}

body {
    width: 96%;
    margin: 5% auto 0 auto;
    font-size: 100%;
    color: #ffffff;
    background-color: #131D24;
    background-image: repeating-linear-gradient(
        45deg,
        #080b0d,
        #080b0d 20px,
        #0a0f13 20px,
        #0a0f13 40px);
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

nav {
    float: left;
    width: 24%;
    border: 1px solid #ffffff;
    margin-right: 0.5em;
}

.welcomeContent {
    float: right;
    width: 74%;
    display: block;
}

.accessButtons {
    width: 7.5em;
    height: 1.5em;
    margin: 2.5% auto 2.5% auto;
    display: block;
    border: 1px solid yellow;
    text-align: center;
    padding: 1.0em;
}

a:link {text-decoration: none; color: #ffffff;}
a:visited {text-decoration: none; color: #ffffff;}
a:active {text-decoration: none; color: #ffffff;}
a:hover {text-decoration: none; color: red;}

@media screen and (max-width: 800px) {
    nav {
        width: 96%;
        margin: 1% auto 1% auto;
        border: none;
    }
    
    .welcomeContent {
        width: 96%;
        margin: 1% auto 1% auto;
    }
    
    .accessButtons {
    width: 9.5em;
    height: 2.5em;
    margin: 2.5% auto 2.5% auto;
    display: block;
    border: 1px solid yellow;
    text-align: center;
    padding: 1.5em;
}
}

