/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2016, 2:38:10 PM
    Author     : ilkrpaan
*/

#mainPage {
    text-align: center;
    margin-bottom: 1em;
    clear: both;
}

#container {
    width: 320px;
    display: inline-block;
    text-align: left;
}

h1 {
    font-size: 1.8em;
}

.category-set-list {
    margin-bottom: 0.5em;
}

.category-set-list-last {
    margin-bottom: 2em;
}

.category-set-list-label {
    display: inline-block;
    width: 220px;
    vertical-align: middle;
}

.category-set-list-select {
    width: 170px;
    vertical-align: middle;
    margin-right: 1em;
}

.category-set {
    width: 280px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 1em 0;
    background: rgba(85, 102, 119, 0.4);
    border-radius: 10px;
    padding: 10px;
}

.category-set h2 {
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-set-remove-button {
    float: right;
    font-size: 150%;
}

.category {
    margin-bottom: 0.5em;
}

.ui-chkbox-box {
    vertical-align: middle;
    margin-right: 0.5em;
}

.category .ui-chkbox-label {
    vertical-align: middle;
    font-size: 1.2em;
    display: inline;
}

.category-text {
    width: calc(100% - 70px);
    margin-right: 0.5em;
}

.category-remove-button {
}

.category .ui-message-error {
    background-color: transparent;
    border: 0;
}

.new-category-button {
    width: 100%;
    text-align: left;
}

#control-div {
    margin-top: 1em;
    text-align: right;
}

@media screen and (min-width: 640px) {
    #container {
        width: 640px;
    }
}

@media screen and (min-width: 960px) {
    #container {
        width: 960px;
    }
}