/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 15, 2016, 2:16:45 PM
    Author     : jaanjuuj
    Author     : Juha Moisio
*/

#mainPage {
    max-width: 960px;
    margin: 0 auto;
}

.ui-panelmenu {
    font-size: 1.2em;
}

.ui-panelmenu .ui-menuitem-text {
    color: black;
}

.ui-panelmenu-header.ui-state-active {
    background: #C4C4C4 -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0% 0%;
}

