/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2016, 10:29:25 AM
    Author     : ilkrpaan
*/

body {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

#content {
    display: inline-block;
    margin: 4.5vmin;
}

#play, #pause {
    display: inline-block;
    position: relative;
    /*background: #fff;*/
    border-radius: 50%;
    width: 16vmin;
    height: 16vmin;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 1vmin solid #fff;
}

#play::before {
    position: absolute;
    content: "";
    top: 3vmin;
    left: 4.25vmin;
    border-left: 10vmin solid #fff;
    border-top: 5vmin solid transparent;
    border-bottom: 5vmin solid transparent;
    border-right: 0 solid transparent;
}

#pause::before, #pause::after {
    position: absolute;
    background: #fff;
    content: "";
    width: 4vmin;
    height: 10vmin;
    top: 3vmin;
}

#pause::before {
    left: 3vmin;
}

#pause::after {
    right: 3vmin;
}


ul {
    list-style-type: none;
/*    max-height: 72vh;
    overflow: scroll;*/
    margin: 0;
    padding: 0;
}

li {
    position: relative;
    background-color: #567;
    font-size: 5vmin;
    text-align: left;
    max-width: 90vw;
    white-space: nowrap;
    overflow: hidden;
    margin: 1vmin 0;
    padding: 1vmin;
    border-radius: 1vmin;
    cursor: pointer;
    
    /* Disable text selection.
       Source: http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    /*user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */
}

li.down {
    background-color: #fa4;
}

.timer {
    position: absolute;
    right: 0;
    background-color: #345;
    padding: 0 1vmin;
    margin: 0;
}
