/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2016, 10:29:25 AM
    Author     : ilkrpaan
*/

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0; /* removes extra space between elements */
}

#naviHead, #Footer {
    font-size: 16px;
}

#mainPage {
    width: 100%;
    
/*     Height calculation base on this: http://stackoverflow.com/a/14101451 
    height: -moz-calc(100% - 64px);  Firefox 
    height: -webkit-calc(100% - 64px);  WebKit 
    height: -o-calc(100% - 64px);  Opera 
    height: calc(100% - 64px);  Standard */
    
    margin: 0;
    padding: 0;
    
    text-align: center;
    clear: both;
}

#content {
    max-width: 100%;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    display: inline-block;
}

#total-time {
    /*height: 12%;*/
    height: calc((100vh - 64px) * 0.12);
    font-size: 9vh;
    margin: 0;
    padding: 0;
    cursor: default;
}

#controls {
    /*height: 15%;*/
    height: calc((100vh - 64px) * 0.15);
}

#play, #pause, #stop {
    width: 12vh;
    margin: 0 2vh;
    padding: 1vh;
    border-radius: 1vh;
    font-size: 8vh;
    display: inline-block;
    background-color: #567;
    background: linear-gradient(0deg, #345, #567);
    cursor: pointer;
}

#play.disabled, #pause.disabled, #stop.disabled {
    color: #345;
    cursor: default;
}

/*#stop-div {
    text-align: right;
    margin: 5vh 0;
}

#stop-button {
    font-size: 16px;
}*/

.disabled {
    cursor: default;
}

.no-text-select {
    /* Disable text selection.
       Source: http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    /*user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */
}


#category-list {
    max-width: 100%;
    /*height: 73%;*/
    margin: 0;
    padding: 0;
    /*list-style-type: none;*/
    /*overflow-y: auto;*/
}

.category-set {
    max-width: 100%;
    margin: 0 0 1vh 0;
    padding: 1vh;
    list-style-type: none;
    background-color: #202a33;
    border: 1px solid #2a3640;
    border-radius: 1vh;
}

.category-item {
    max-width: 100%;
    /*height: 12.7%;*/
    height: calc((100vh - 64px) * 0.73 * 0.127);
    margin: 0;
    margin-bottom: 1vh;
    border-radius: 1vh;
    padding: 0;
    position: relative;
    text-align: left;
    white-space: nowrap;
    background-color: #567;
    background: linear-gradient(0deg, #345, #567);
    cursor: pointer;
}

.category-item:last-child {
    margin: 0;
}

.category-item.down {
    background: #f82;
}

.category-name {
    max-width: 90%;
    margin: 0 0.3em;
    font-size: 5vh;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-timer {
    font-size: 4vh;
    border-radius: 1vh;
    margin: 0;
    margin-left: 0.3em;
    padding: 0 0.15em;
    float: right;
    position: relative;
    z-index: 1;
    background-color: #345;
}

@media screen and (min-height: 480px) {
    
    #mainPage {
        /*height: calc(100% - 64px);*/
        /*height: calc(480px - 64px);*/
    }
    /**/
    #total-time {
        /*height: calc((100vh - 64px) * 0.12);*/
        height: calc((480px - 64px) * 0.12);
    }

    #controls {
        /*height: calc((100vh - 64px) * 0.15);*/
        height: calc((480px - 64px) * 0.15);
    }

    .category-item {
        /*height: calc((100vh - 64px) * 0.73 * 0.127);*/
        height: calc((480px - 64px) * 0.73 * 0.127);
        
    }
    /**/
    #total-time {
        /*font-size: 9vh;*/
        font-size: calc(480px * 0.09);
    }

    #play, #pause, #stop {
        /*width: 12vh;*/
        /*margin: 0 2vh;*/
        /*padding: 1vh;*/
        /*border-radius: 1vh;*/
        /*font-size: 8vh;*/
        width: calc(480px * 0.12);
        margin: 0 calc(480px * 0.02);
        padding: calc(480px * 0.01);
        border-radius: calc(480px * 0.01);
        font-size: calc(480px * 0.08);
    }

    .category-item {
        /*margin: 0;*/
        /*margin-bottom: 1vh;*/
        /*border-radius: 1vh;*/
        margin: 0;
        margin-bottom: calc(480px * 0.01);
        border-radius: calc(480px * 0.01);
    }

    .category-name {
        /*font-size: 5vh;*/
        font-size: calc(480px * 0.05);
    }

    .category-timer {
        /*font-size: 4vh;*/
        /*border-radius: 1vh;*/
        font-size: calc(480px * 0.04);
        border-radius: calc(480px * 0.01);
    }
    
}

@media screen and (max-height: 200px) {
    
    #mainPage {
        /*height: calc(100% - 64px);*/
        /*height: calc(200px - 64px);*/
    }
    /**/
    #total-time {
        /*height: calc((100vh - 64px) * 0.12);*/
        height: calc((200px - 64px) * 0.12);
    }

    #controls {
        /*height: calc((100vh - 64px) * 0.15);*/
        height: calc((200px - 64px) * 0.15);
    }

    .category-item {
        /*height: calc((100vh - 64px) * 0.73 * 0.127);*/
        height: calc((200px - 64px) * 0.73 * 0.127);
        
    }
    /**/
    #total-time {
        /*font-size: 9vh;*/
        font-size: calc(200px * 0.09);
    }

    #play, #pause, #stop {
        /*width: 12vh;*/
        /*margin: 0 2vh;*/
        /*padding: 1vh;*/
        /*border-radius: 1vh;*/
        /*font-size: 8vh;*/
        width: calc(200px * 0.12);
        margin: 0 calc(200px * 0.02);
        padding: calc(200px * 0.01);
        border-radius: calc(200px * 0.01);
        font-size: calc(200px * 0.08);
    }

    .category-item {
        /*margin: 0;*/
        /*margin-bottom: 1vh;*/
        /*border-radius: 1vh;*/
        margin: 0;
        margin-bottom: calc(200px * 0.01);
        border-radius: calc(200px * 0.01);
    }

    .category-name {
        /*font-size: 5vh;*/
        font-size: calc(200px * 0.05);
    }

    .category-timer {
        /*font-size: 4vh;*/
        /*border-radius: 1vh;*/
        font-size: calc(200px * 0.04);
        border-radius: calc(200px * 0.01);
    }
    
}
