/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2016, 10:29:25 AM
    Author     : ilkrpaan
*/

body {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

#content {
    display: inline-block;
    margin: 4.5vh 0;
}

#total-time {
    font-size: 8vh;
}

#play, #pause {
    display: inline-block;
    position: relative;
    /*background: #fff;*/
    border-radius: 50%;
    width: 16vh;
    height: 16vh;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 1vh solid #fff;
}

#play::before {
    position: absolute;
    content: "";
    top: 3vh;
    left: 4.25vh;
    border-left: 10vh solid #fff;
    border-top: 5vh solid transparent;
    border-bottom: 5vh solid transparent;
    border-right: 0 solid transparent;
}

#pause::before, #pause::after {
    position: absolute;
    background: #fff;
    content: "";
    width: 4vh;
    height: 10vh;
    top: 3vh;
}

#pause::before {
    left: 3vh;
}

#pause::after {
    right: 3vh;
}


ul {
    list-style-type: none;
/*    max-height: 72vh;
    overflow: scroll;*/
    /*max-width: 100vw;*/
    margin: 0;
    padding: 0;
}

li {
    position: relative;
    background-color: #567;
    font-size: 0; /* removes extra space when catergory-name uses inline-block */
    text-align: left;
    /*max-width: 100vw;*/
    white-space: nowrap;
    /*overflow: hidden;*/
    margin: 1vh 0;
    padding: 1vh;
    border-radius: 1vh;
    cursor: pointer;
    
    /* Disable text selection.
       Source: http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    /*user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */
}

li.down {
    background-color: #fa4;
}

.category-name {
    display: inline-block;
    font-size: 5vh;
    max-width: 60vw;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    /*position: relative;*/
    /*z-index: 0;*/
}

.category-timer {
    /*display: inline-block;*/
    font-size: 5vh;
    float: right;
    background-color: #345;
    border-radius: 0.75vmin;
    padding: 0 1vmin;
    margin: 0;
    margin-left: 1vmin;
    position: relative;
    z-index: 1;
}
