/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 2, 2016, 11:38:42 AM
    Author     : Juha Moisio <juha.pa.moisio at student.jyu.fi>
*/

/* Custom styles for the Timeline component. */

#timeline .timeline-event {
    color: #AEAEAE;
    background: #F82;
    box-shadow: none;
    margin-top: 0px;
}

#timeline .timeline-event-content {
    margin: 0;
    padding: 10px;
    text-shadow: none;
}

#timeline .timeline-axis,
#timeline .timeline-groups-axis {
    background: transparent linear-gradient(0deg, #345, #567) repeat scroll 0% 0%;
    opacity: 1;
}

#timeline .timeline-axis-text {
    font-size: 0.9em;
    color: white;
}

#timeline .timeline-axis-grid {
    border-left-style: dashed!important;
    border-top-style: dashed!important;
}

#timeline .timeline-groups-axis  > .timeline-groups-text {
    color: white;
}

#timeline .timeline-event-selected .timeline-event-content {
    cursor: default;
}

#timeline .timeline-event-selected {
    background-color: #cedff0;
}

#timeline .categoryLabel {
    display: none!important;
}

#timeline .timeline-frame {
    border-radius: 0;
    border: none;
}

#timeline .ui-widget-content:not(.timeline-axis) {
    color: #000;
}

#timeline .timeline-axis {
    color: #4F4F4F;
}

#timeline {
    clear: both;
}

.dummyRecord {
    display: none!important;
}
